<form class="search" action="/home/search" method="POST">
    <input type="search" name="search" placeholder="Search here...">
    <button type="submit">Search</button>
</form>
<section id="find-section">
    <!-- If there are any matching matches from the search, show each of them -->
    {{#if housesCollection}}
      {{#each housesCollection}}
   {{>houseHome}}
   {{/each}}
   {{else}}
   <div class="no-data-listing">
           <p class="no-offer">No match was found for the submitted type...</p>
          </div>
   {{/if}}
   </section>